body {
  /*background: #99C9E4;*/
    background-image: url(./images/background.png);
}
.btn-primary {background-color: #B0FAFF;
              color: #262B30;
              border-color: #9BF0FA; 
            }
#allPage { /* Center the page */
                  width: 1000px;
                  margin-left: 30%;
                  margin-right: 40%;
         }
