<div class="container">
    <div class="img-container">
      <img class="img-circle" src="./content/images/circle.png" alt="Circle Border" width="155" height="155">
      <img class="img-logo-top" src="./content/images/logo.png" alt="Survey MKR Logo" class="w3-image" width="150"
        height="150">
    </div>

    

<div class="container">
    <br>
    <h1><%= title %></h1>
    
    <br>
    
    <h4>Build your online surveys with Survey MKR</h4>
    
   
    <a href="/survey-list" class="btn btn-primary" role="button">Get Started</a>
    <img class="img-profile" src="./content/images/H3.png" alt="Survey MKR Image" width="650" height="450">
    
</div>






