<div class="container">
    <h1><%= title %></h1>
</div>

<img class="img-profile" src="./content/images/logo.png" alt="Andrea">
<h2>Build you surveys with Survey MKR</h2>
<input type="button" value="Get Started" onclick="startBtn"> 
