<div id="allPage">

<div class="container">
    <h1><%= title %></h1>
</div>

    
<img class="img-profile" src="./content/images/logo.png" alt="Andrea" class="w3-image" width="500" height="500">
<h2>Build you surveys with Survey MKR</h2>
<a href="/survey-list" class="btn btn-primary" role="button">
    <i class="fa-solid fa-table-list fa-lg"></i> Get Started</a>

</div>