<div class="container">
    <div class="img-container">
      <img class="img-circle" src="./content/images/circle.png" alt="Circle Border" width="155" height="155">
      <img class="img-logo-top" src="./content/images/logo.png" alt="Survey MKR Logo" class="w3-image" width="150"
        height="150">
    </div>



<div class="container">
    <h2><%= title %></h2>


<img class="img-profile" src="./content/images/H3.png" alt="Survey MKR Logo">
<br><br><br>
<p>Build your online surveys with Survey MKR</p>
<br><br><br>
<a href="/survey-list" class="btn btn-primary" role="button">Get Started</a>
</div>