<div class="container">
  <div class="img-container">
    <img class="img-circle" src="./content/images/circle.png" alt="Circle Border" width="155" height="155">
    <img class="img-logo-top" src="./content/images/logo.png" alt="Survey MKR Logo" class="w3-image" width="150"
      height="150">
  </div>
  <div class="row">
    <div class="offset-md-3 col-md-6 col-sm-12 register-form">
      <div class="login" id="contentArea">

        <!-- Message Area -->
        <% if(messages.length> 0) { %>
          <div id="messageArea" class="alert alert-danger">
            <%= messages %>
          </div>
          <% } %>

            <form method="POST" id="registerForm" novalidate>

              <div class="form-group mt-4">
                <div class="row">
                  <div class="col-md-12">
                    <input type="text" class="form-control user-input" id="username" name="username" required value=""
                      placeholder="Username">
                  </div>
                </div>
              </div>

              <div class="form-group">
                <div class="row">
                  <div class="col-md-12">
                    <input type="email" class="form-control user-input" id="emailAddress" name="emailAddress" required
                      value="" placeholder="Email">
                  </div>
                </div>
              </div>

              <div class="form-group">
                <div class="row">
                  <div class="col-md-12">
                    <input type="password" class="form-control user-input" id="password" name="password" required
                      value="" placeholder="Password">
                  </div>
                </div>
              </div>

              <div class="form-group">
                <div class="row">
                  <div class="col-md-12">
                    <input type="password" class="form-control" user-input id="confirmPassword" name="confirmPassword"
                      required value="" placeholder="Confirm Password">
                  </div>
                </div>
              </div>

              <div class="text-end mt-2 button-group">
                <button id="submitButton" type="submit" class="btn btn-primary btn-lg">
                  Register
                </button>
              </div>
            </form>
      </div>
    </div>
  </div>
</div>